</body>
</html>
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pop</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- Custom CSS -->
    <style>

    .home-content {
      margin-top: -7.9rem;
      width: 100%;
      height: 100%;
    }

    .home-content > .hero-content {
      min-height: 50%;
      background-image: url('./brexit-photo.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .home-content > .home-info {
      min-height: 30%;
      background-color: #F8E187
    }

    .home-content > .home-hook {
      min-height: 30%;
      background-color: #3498DB
    }
    .sign-up {
      background-image: url('./brexit-photo.jpg');
      width: 100%;
      height: 100%;
      margin-top: -7.9rem;
    }

    .main-content {
      width: 100%;
      position: relative;
      max-width: 1440px;
    }
    .sign-up-header {
      text-align: center;
    }
    .sign-up-actions {
      margin-top: 1rem;
      text-align: center;
    }

    .sign-up-field {
      text-align: center;
    }
    .sign-up-field > p{
      font-weight: bold;
    }

    .sign-up-field > input{
      text-align: center;
    }

    html {
      width: 100%;
    }
    body {
        padding-top: 70px;
        width: 100%;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><%= image_tag("013_-_Bubble-512_vectorized.png", width: '32', height: '32', alt: 'Site Logo', class: "logo") %></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Chat</a>
                    </li>
                    <!-- <li>
                        <a href="#">Contact</a>
                    </li> -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container main-content">

        <div class="row">
            <div class="col-lg-12 text-center">
              <p class="notice"><%= notice %></p>
              <p class="alert"><%= alert %></p>
              <%= yield %>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>


</body>

</html>
